<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Enquiry Form</title>
  </head>
  <body>
    <form action="" th:action="@{student}" method="post" th:object="${student}">
      <table>
        <tr>
          <td>
            <label for="Fname">First Name:</label>
          </td>
          <td>
            <input
              type="text"
              name="Fname"
              id="Fname"
              th:field="*{FirstName}"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="Lname">Last Name:</label>
          </td>
          <td>
            <input type="text" name="Lname" id="Lname" th:field="*{LastName}" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="text" name="email" id="email" th:field="*{Email}" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="stdname">Enter Your Grade</label>
          </td>
          <td>
            <input type="text" name="stdname" id="stdname" th:field="*{STD}" />
          </td>
        </tr>
        <tr>
          <td><label for="complaint">Type Your Complaint</label></td>
          <td>
            <textarea
              name="complaint"
              id="complaint"
              cols="50"
              rows="10"
              th:field="*{Complaint}"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
