<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquiry Page | Redirecting to Enquiry form</title>
  </head>
  <body>
    <h1>Employee Enquiry Page</h1>
    <a href="/employee"><h1>Click Here!!!</h1></a>
    <table th:object="${employee}" border="2" align="center">
      <thead>
        <tr>
          <th colspan="2" align="center">Employee Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name:</td>
          <td th:text="${employee.FirstName}"></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td th:text="${employee.LastName}"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td th:text="${employee.Email}"></td>
        </tr>
        <tr>
          <td>Mobile:</td>
          <td th:text="${employee.Mobile}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
