<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo|Register</title>
  </head>
  <body>
    <h1 align="center">Welcome User</h1>
    <table align="center">
      <tr>
        <td><strong>Email: </strong></td>
        <td>
          <input type="email" id="" name="Uemail" placeholder="Enter Email" />
        </td>
      </tr>
      <tr>
        <td><strong>Password: </strong></td>
        <td>
          <input type="text" id="" name="Upass" placeholder="Enter Password" />
        </td>
      </tr>
      <tr>
        <td><strong>Confirm Password: </strong></td>
        <td>
          <input
            type="text"
            id=""
            name="Upasscfrm"
            placeholder="Confirm Password"
          />
        </td>
      </tr>
      <tr>
        <td align="center">
          <input
            type="Submit"
            value="Create Account"
            style="background-color: wheat"
            
          />
        </td>
      </tr>
    </table>
  </body>
</html>
